<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>초간단 테이블</title>
</head>
<body>
    <table>
        <tr>
            <th>첫번째 칸</th>
            <th>두번째 칸</th>
            <th>세번째 칸</th>
        </tr>
            <tr>
                <td><%=menu[0].menu_id%></td>
                <td><%=menu[0].menu_name%></td>
                <td><%=menu[0].menu_price%></td>
            </tr>
    </table>
</body>
</html>
